<ion-content>
  <div class="container-login">
    <div class="card">
      <h1 class="text-center">Registarme</h1>
      <form>
        <!-- input -->
        <ion-item>
          <ion-label position="floating" color="secondary">Correo electrónico</ion-label>
          <ion-input class="input"  name="email" id="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="secondary">Contraseña</ion-label>
          <ion-input class="input" type="password" name="password" id="password"></ion-input>
        </ion-item>
        <ion-button color="primary" class="button" >
          Iniciar Sesión
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
